<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>SampleApp</title>
=======
  <title>DemoApp</title>
>>>>>>> d9c4b2d1f7e70545700ffaee6ed09d3a59544a60
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<<<<<<< HEAD
<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "sample app", '#', id: "logo" %>
			<nav>
				<ul class="nav pull-right">
				<li><%= link_to "Home", '#' %></li>
				<li><%= link_to "Help", '#' %></li>
				<li><%= link_to "Sign in", '#' %></li>
				</ul>
			</nav>
		</div>
	
	</div>
	
</header>

<div class="center hero-unit">
	<h1>Welcome to the Sample App</h1>

	<h2>
		This is the home page for the <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> sample application.
	</h2>

	<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
	
</div>


<div class="container">
	<%= yield %>
</div>
=======
<%= yield %>
>>>>>>> d9c4b2d1f7e70545700ffaee6ed09d3a59544a60

</body>
</html>
